<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manager.mapper.ResultsMapper">
    <resultMap id="BaseResultMap" type="com.manager.bean.Results">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="userId" jdbcType="INTEGER" property="userId" />
        <result column="activity_id" jdbcType="INTEGER" property="activityId" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="type" jdbcType="VARCHAR" property="type" />
        <result column="domain" jdbcType="VARCHAR" property="domain" />
        <result column="start_time" jdbcType="VARCHAR" property="startTime" />
        <result column="end_time" jdbcType="VARCHAR" property="endTime" />
        <result column="coin" jdbcType="DOUBLE" property="coin" />
        <result column="group" jdbcType="VARCHAR" property="group" />
        <result column="unit" jdbcType="VARCHAR" property="unit" />
        <result column="check" jdbcType="INTEGER" property="check" />
        <result column="filePath" jdbcType="VARCHAR" property="filePath" />
        <result column="comment" jdbcType="VARCHAR" property="comment" />
        <result column="description" jdbcType="LONGVARCHAR" property="description" />
    </resultMap>
    <sql id="Base_Column_List">
        id, userId, activity_id, name, type, domain, start_time, end_time, coin, `group`, unit,
        `check`, filePath
    </sql>
    <sql id="Blob_Column_List">
        description
    </sql>
    <select id="selectAll" resultMap="BaseResultMap">
        SELECT * FROM results
    </select>

    <select id="selectBySelective" parameterType="com.manager.bean.Results" resultMap="BaseResultMap">
        select
          *
        from results
        where 1 = 1
        <if test="userId != null">
            AND userId = #{userId}
        </if>
        <if test="activityId != null">
            AND activity_id = #{activityId}
        </if>
        <if test="name != null">
            AND name LIKE CONCAT(CONCAT("%",#{name}),"%")
        </if>
        <if test="type != null">
            AND type = #{type}
        </if>
        <if test="domain != null">
            AND domain = #{domain}
        </if>
        <if test="check != null">
            AND `check` = #{check}
        </if>
        <if test='startTime != null and startTime != ""'>
            AND #{startTime} > start_time AND end_time > #{startTime}
        </if>
    </select>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        ,
        <include refid="Blob_Column_List" />
        from results
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from results
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.manager.bean.Results">
        insert into results (id, userId, activity_id,
        name, type, domain,
        start_time, end_time, coin,
        `group`, unit, `check`,
        filePath, description)
        values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{activityId,jdbcType=INTEGER},
        #{name,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{domain,jdbcType=VARCHAR},
        #{startTime,jdbcType=VARCHAR}, #{endTime,jdbcType=VARCHAR}, #{coin,jdbcType=DOUBLE},
        #{group,jdbcType=VARCHAR}, #{unit,jdbcType=VARCHAR}, #{check,jdbcType=INTEGER},
        #{filePath,jdbcType=VARCHAR}, #{description,jdbcType=LONGVARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.manager.bean.Results">
        insert into results
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userId != null">
                userId,
            </if>
            <if test="activityId != null">
                activity_id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="domain != null">
                domain,
            </if>
            <if test="startTime != null">
                start_time,
            </if>
            <if test="endTime != null">
                end_time,
            </if>
            <if test="coin != null">
                coin,
            </if>
            <if test="group != null">
                `group`,
            </if>
            <if test="unit != null">
                unit,
            </if>
            <if test="check != null">
                `check`,
            </if>
            <if test="filePath != null">
                filePath,
            </if>
            <if test="description != null">
                description,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="activityId != null">
                #{activityId,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=VARCHAR},
            </if>
            <if test="domain != null">
                #{domain,jdbcType=VARCHAR},
            </if>
            <if test="startTime != null">
                #{startTime,jdbcType=VARCHAR},
            </if>
            <if test="endTime != null">
                #{endTime,jdbcType=VARCHAR},
            </if>
            <if test="coin != null">
                #{coin,jdbcType=DOUBLE},
            </if>
            <if test="group != null">
                #{group,jdbcType=VARCHAR},
            </if>
            <if test="unit != null">
                #{unit,jdbcType=VARCHAR},
            </if>
            <if test="check != null">
                #{check,jdbcType=INTEGER},
            </if>
            <if test="filePath != null">
                #{filePath,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                #{description,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.manager.bean.Results">
        update results
        <set>
            <if test="userId != null">
                userId = #{userId,jdbcType=INTEGER},
            </if>
            <if test="activityId != null">
                activity_id = #{activityId,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=VARCHAR},
            </if>
            <if test="domain != null">
                domain = #{domain,jdbcType=VARCHAR},
            </if>
            <if test="startTime != null">
                start_time = #{startTime,jdbcType=VARCHAR},
            </if>
            <if test="endTime != null">
                end_time = #{endTime,jdbcType=VARCHAR},
            </if>
            <if test="coin != null">
                coin = #{coin,jdbcType=DOUBLE},
            </if>
            <if test="group != null">
                `group` = #{group,jdbcType=VARCHAR},
            </if>
            <if test="unit != null">
                unit = #{unit,jdbcType=VARCHAR},
            </if>
            <if test="check != null">
                `check` = #{check,jdbcType=INTEGER},
            </if>
            <if test="filePath != null">
                filePath = #{filePath,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=LONGVARCHAR},
            </if>
            <if test="comment != null">
                comment = #{comment,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.manager.bean.Results">
        update results
        set userId = #{userId,jdbcType=INTEGER},
        activity_id = #{activityId,jdbcType=INTEGER},
        name = #{name,jdbcType=VARCHAR},
        type = #{type,jdbcType=VARCHAR},
        domain = #{domain,jdbcType=VARCHAR},
        start_time = #{startTime,jdbcType=VARCHAR},
        end_time = #{endTime,jdbcType=VARCHAR},
        coin = #{coin,jdbcType=DOUBLE},
        `group` = #{group,jdbcType=VARCHAR},
        unit = #{unit,jdbcType=VARCHAR},
        `check` = #{check,jdbcType=INTEGER},
        filePath = #{filePath,jdbcType=VARCHAR},
        description = #{description,jdbcType=LONGVARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>